@import url('../../sol/wgt/scrollBar.css');
.directory .scrollBar {
  display: none;
}
.directory .list .dgrid-row:hover {
  border-color: #759dc0;
}
.directory .list .scrollBar {
  right: auto;
  left: 0px;
  opacity: 0.4;
}
.directory .list .scrollBar.scroll {
  display: block;
}
.directory .list .scrollBar.scroll:hover {
  opacity: 0.8;
}
.directory .dgrid-row {
  background-color: #f0f0f0;
  cursor: default;
}
.directory .dgrid-row:hover {
  border-color: #f0f0f0;
}
.directory .dgrid-row.directory {
  background-color: #E0E0F0;
}
.directory .dgrid-row.directory:hover {
  border-color: #E0E0F0;
}
.directory .dgrid-row.text {
  background-color: #f2f2d8;
}
.directory .dgrid-row.text:hover {
  border-color: #f2f2d8;
}
.directory .dgrid-row.javascript,
.directory .dgrid-row.json {
  background-color: #f2e6d8;
}
.directory .dgrid-row.javascript:hover,
.directory .dgrid-row.json:hover {
  border-color: #f2e6d8;
}
.directory .dgrid-row.octet-stream {
  background-color: #ededed;
}
.directory .dgrid-row.octet-stream:hover {
  border-color: #ededed;
}
.directory .dgrid-row.image {
  background-color: #d8f2e8;
}
.directory .dgrid-row.image:hover {
  border-color: #d8f2e8;
}
.directory .dgrid-row:hover {
  background-color: #abd6ff;
}
.directory .list .dgrid-row.directory {
  background-color: #000030;
  color: white;
}
.directory .list .dgrid-row.directory:hover {
  color: #0000A0;
  border-color: black;
}
.directory .list .dgrid-row {
  background-image: none;
}
.directory .list .dgrid-scroller {
  background-color: #E0E0E1;
}
.directory .list .dgrid-scroller {
  direction: rtl;
}
.directory .list .dgrid-content {
  direction: rtl;
}
.directory .list .outer2 {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 6px;
  display: inline-block;
  width: 20px;
  overflow: hidden;
  position: relative;
  min-height: 70px;
  vertical-align: top;
  /*background-color: lightblue;*/
  margin-top: 1px;
  margin-bottom: 7px;
  padding: 1px;
}
.directory .list .outer2:hover {
  background-color: #abd6ff;
  background-image: linear-gradient(right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(255, 255, 255, 0.7)), color-stop(1, rgba(255, 255, 255, 0)));
}
.directory .list .inner1 {
  position: absolute;
  top: 0px;
  left: 0px;
  direction: ltr;
}
.directory .list .rotator {
  /*position: relative;*/
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 0px;
  width: 20px;
  height: 20px;
  overflow: visible;
  /*overflow-y: hidden;*/
  overflow-x: visible;
  white-space: nowrap;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.directory .list .expander {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 2px;
  min-width: 70px;
  white-space: nowrap;
}
.directory .list .expander .text {
  margin-top: 100%;
  /* 4:3 aspect ratio */
  height: 0px;
  overflow: hidden;
  direction: ltr;
}
.dark .directory .dgrid-cell {
  border-color: #000000;
}
.dark .directory .dgrid {
  border-color: #000000;
}
.dark .directory .dgrid-header {
  background-color: #000020;
}
.dark .directory .dgrid-header .dgrid-sort-arrow {
  background-color: #FF9020;
}
.dark .directory .list .dgrid-row:hover {
  border-color: #202050;
}
.dark .directory .dgrid-row {
  background-color: #000000;
  cursor: default;
}
.dark .directory .dgrid-row:hover {
  border-color: #000000;
}
.dark .directory .dgrid-row.directory {
  background-color: #000050;
}
.dark .directory .dgrid-row.directory:hover {
  border-color: #000050;
}
.dark .directory .dgrid-row.text {
  background-color: #4d4d00;
}
.dark .directory .dgrid-row.text:hover {
  border-color: #4d4d00;
}
.dark .directory .dgrid-row.javascript,
.dark .directory .dgrid-row.json {
  background-color: #4d2b00;
}
.dark .directory .dgrid-row.javascript:hover,
.dark .directory .dgrid-row.json:hover {
  border-color: #4d2b00;
}
.dark .directory .dgrid-row.octet-stream {
  background-color: #3e3e3e;
}
.dark .directory .dgrid-row.octet-stream:hover {
  border-color: #3e3e3e;
}
.dark .directory .dgrid-row.image {
  background-color: #001910;
}
.dark .directory .dgrid-row.image:hover {
  border-color: #001910;
}
.dark .directory .dgrid-row:hover {
  background-color: #404090;
}
.dark .directory .list .dgrid-row:hover {
  color: white;
}
.dark .directory .list .dgrid-row.directory {
  background-color: #A0A0F0;
  color: black;
}
.dark .directory .list .dgrid-row.directory:hover {
  border-color: #A0A0F0;
}
.dark .directory .list .dgrid-scroller {
  background-color: #101040;
}
.dark .directory .list .outer2:hover {
  background-color: #4040B0;
  color: #F0F0F0;
  background-image: linear-gradient(right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, right top, left top, color-stop(0, rgba(0, 0, 0, 0.7)), color-stop(1, rgba(0, 0, 0, 0)));
}
