[submodule "src/dojo"]
	path = src/dojo
	url = https://github.com/dojo/dojo.git
[submodule "src/dijit"]
	path = src/dijit
	url = https://github.com/dojo/dijit.git
[submodule "src/dojox"]
	path = src/dojox
	url = https://github.com/dojo/dojox.git
[submodule "src/util"]
	path = src/util
	url = https://github.com/dojo/util.git
[submodule "generic-js/CodeMirror"]
	path = generic-js/CodeMirror
	url = https://github.com/marijnh/CodeMirror
[submodule "generic-js/csslint"]
	path = generic-js/csslint
	url = https://github.com/stubbornella/csslint
[submodule "generic-js/jsonlint"]
	path = generic-js/jsonlint
	url = https://github.com/zaach/jsonlint
[submodule "generic-js/term.js"]
	path = generic-js/term.js
	url = https://github.com/chjj/term.js