[submodule "dojo"]
	path = dojo
	url = https://github.com/dojo/dojo.git
[submodule "dijit"]
	path = dijit
	url = https://github.com/dojo/dijit.git
[submodule "dojox"]
	path = dojox
	url = https://github.com/dojo/dojox.git
[submodule "util"]
	path = util
	url = https://github.com/dojo/util.git
    
    
[submodule "sol"]
	path = sol
	url = https://github.com/soliton4/sol-amd.git
    
[submodule "codemirror"]
	path = codemirror
	url = https://github.com/marijnh/CodeMirror
    
[submodule "generic-js/csslint"]
	path = generic-js/csslint
	url = https://github.com/stubbornella/csslint
[submodule "generic-js/jsonlint"]
	path = generic-js/jsonlint
	url = https://github.com/zaach/jsonlint
[submodule "generic-js/term.js"]
	path = generic-js/term.js
	url = https://github.com/chjj/term.js
[submodule "generic-js/CodeMirror"]
	path = generic-js/CodeMirror
	url = https://github.com/soliton4/CodeMirror
[submodule "generic-js/pdf.js"]
	path = generic-js/pdf.js
	url = https://github.com/mozilla/pdf.js
[submodule "generic-js/Broadway"]
	path = generic-js/Broadway
	url = https://github.com/mbebenita/Broadway
[submodule "generic-js/peg8/pegjs"]
	path = generic-js/peg8/pegjs
	url = https://github.com/soliton4/pegjs.git

[submodule "generic-js/node-jscs"]
	path = generic-js/node-jscs
	url = https://github.com/gero3/node-jscs.git
