/* ContentPane 
 *	
 * .dijitContentPane
 * 	set padding for basic content pane
 * 	
 * Nested layouts:
 * 
 * .dijitTabContainerTop-dijitContentPane,
 * .dijitTabContainerLeft-dijitContentPane,
 * .dijitTabContainerBottom-dijitContentPane,
 * .dijitTabContainerRight-dijitContentPane
 * 	set background-color and padding of ContentPanes nested within TabContainer (can do top, left, bottom, or right) or Accordion Container
 *
 * .dijitAccordionContainer-dijitContentPane
 * 	set background-color and padding of ContentPane nested within Accordion
 *
 * .dijitSplitContainer-dijitContentPane, 
 *	set background-color and padding of ContentPane nested within a SplitContainer 
 *
 * .dijitBorderContainer-dijitContentPane
 *	set background-color and padding of ContentPane nested within a BorderContainer 
 */
.dark .dijitContentPane {
  padding: 8px;
}
/* nested layouts */
.dark .dijitTabContainerTop-dijitContentPane,
.dark .dijitTabContainerLeft-dijitContentPane,
.dark .dijitTabContainerBottom-dijitContentPane,
.dark .dijitTabContainerRight-dijitContentPane,
.dark .dijitAccordionContainer-dijitContentPane {
  background-color: #000020;
  padding: 8px;
}
.dark .dijitSplitContainer-dijitContentPane,
.dark .dijitBorderContainer-dijitContentPane {
  background-color: #000020;
  padding: 8px;
}
