@import url('../dijit/themes/claro/claro.css');
@import url('../dijit/themes/tundra/tundra.css');
@import url('../dijit/themes/soria/soria.css');
@import url('../dijit/themes/nihilo/nihilo.css');
@import url('../dojox/editor/plugins/resources/css/Save.css');
@import url('../nodeMirror/style.css');
/* save button */
/* dgrid */
/* CodeMirror */
/* themes */
* {
  outline: none;
}
body {
  font-family: Helvetica;
}
.zeroBorder {
  padding: 0;
  margin: 0;
  border: 0;
}
.mainBc {
  width: 100%;
  height: 100%;
}
.dijitTabPane.mainContentPane {
  padding: 0;
  margin: 0;
  border: 0;
}
.dijitBorderContainer.content {
  padding: 0;
  margin: 0;
  border: 0;
}
.contentMenu {
  height: 33px;
}
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.lint-error {
  font-family: arial;
  font-size: 70%;
  background: #ffa;
  color: #a00;
  padding: 2px 5px 3px;
}
.lint-error-icon {
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 50%;
  padding: 0 3px;
  margin-right: 7px;
}
.invisible {
  display: none;
}
