@import url("../../../dojo/resources/dojo.css");
/* ======= Styling for the document itself (overriding dojo.css) ======== */
.dark {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: .688em;
  color: #131313;
}
/* Headings */
.dark h1 {
  font-size: 1.545em;
  margin-bottom: 0.727em;
}
.dark h2 {
  font-size: 1.364em;
  line-height: 1.455em;
  margin-top: 1em;
  margin-bottom: 0.60em;
  font-weight: normal;
}
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  font-size: 1.091em;
  font-weight: normal;
}
/* paragraphs, quotes and lists */
.dark p {
  line-height: 1.3em;
}
/* pre and code */
.dark pre,
.dark code {
  font-family: inherit;
  background-color: #2020a0;
  border: 1px solid #606060;
}
/* tables */
.dark table.dojoTabular thead,
.dark table.dojoTabular tfoot {
  background-color: #2020a0;
  border: 1px solid #606060;
}
