/* TitlePane and Fieldset
 * 
 * Styling TitlePane means styling the TitlePane title and its content container  (dijitTitlePane)
 * 
 * TitlePane title:
 * 1. TitlePane title (default styling): 
 * 		.dijitTitlePaneTitle - TitlePane's title div style: background-color, border
 *
 * 2. hovered TitlePane title (ie, mouse hover on a title bar)
 * 		.dijitTitlePaneTitleHover - styles when mouse hover on the title div
 * 
 * 3. active TitlePane title (ie, mouse down on a title bar)
 * 		.dijitTitlePaneTitleActive - styles when mouse down on the title div
 * 
 * 
 * TitlePane Content Container:
 * 1. outer/inner container: 
 * 		.dijitTitlePaneContentOuter / dijitTitlePaneContentInner - styles for the content outer div
 */
.dark .dijitTitlePaneTitle {
  background-color: #2020a0;
  background-image: url("images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  _background-image: none;
  border: 1px solid #303050;
  padding: 0 7px 3px 7px;
  min-height: 17px;
  color: #ffffff;
}
.dark .dijitFieldset {
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.dark .dijitTitlePaneTitleOpen,
.dark .dijitTitlePaneTitleFixedOpen {
  background-color: #404090;
  color: #f0f0f0;
}
.dark .dijitTitlePaneTitleHover {
  background-color: #3333bc;
  border-color: #000050;
}
.dark .dijitTitlePaneTitleActive {
  background-color: #5959c8;
  border-color: #000050;
  background-image: url("images/activeGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
}
.dark .dijitTitlePaneTitleFocus {
  margin-top: 3px;
  padding-bottom: 2px;
}
.dark .dijitTitlePane .dijitArrowNode,
.dark .dijitFieldset .dijitArrowNode {
  background-image: url("images/spriteArrows.png");
  background-repeat: no-repeat;
  height: 8px;
  width: 7px;
}
.dark .dijitTitlePaneTitleOpen .dijitArrowNode,
.dark .dijitFieldsetTitleOpen .dijitArrowNode {
  background-position: 0 0;
}
.dark .dijitTitlePaneTitleClosed .dijitArrowNode,
.dark .dijitFieldsetTitleClosed .dijitArrowNode {
  background-position: -14px 0;
}
.dark .dijitTitlePaneContentOuter {
  background: #000020;
  border: 1px solid #303050;
  border-top: none;
}
.dark .dijitTitlePaneContentInner {
  padding: 10px;
}
.dark .dijitFieldsetContentInner {
  padding: 4px;
}
.dark .dijitTitlePaneTextNode,
.dark .dijitFieldsetLegendNode {
  margin-left: 4px;
  margin-right: 4px;
  vertical-align: text-top;
}
