.debugScriptWidget .cm-breakpoint {
  box-shadow: 1px 1px 3px 0px black;
  background-image: -moz-linear-gradient(top, rgba(255, 255, 64, 0) 0%, rgba(255, 255, 64, 0.3) 95%, #ffff80 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 64, 0) 0%, rgba(255, 255, 64, 0.3) 95%, #ffff80 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 64, 0) 0%, rgba(255, 255, 64, 0.3) 95%, #ffff80 100%);
  background-image: linear-gradient(top, rgba(255, 255, 64, 0) 0%, rgba(255, 255, 64, 0.3) 95%, #ffff80 100%);
}
.debugScriptWidget .cm-exception {
  box-shadow: 1px 1px 3px 0px black;
  background-image: -moz-linear-gradient(top, rgba(255, 64, 64, 0) 0%, rgba(255, 64, 64, 0.3) 95%, #ffc0c0 100%);
  background-image: -webkit-linear-gradient(top, rgba(255, 64, 64, 0) 0%, rgba(255, 64, 64, 0.3) 95%, #ffc0c0 100%);
  background-image: -o-linear-gradient(top, rgba(255, 64, 64, 0) 0%, rgba(255, 64, 64, 0.3) 95%, #ffc0c0 100%);
  background-image: linear-gradient(top, rgba(255, 64, 64, 0) 0%, rgba(255, 64, 64, 0.3) 95%, #ffc0c0 100%);
}
