.content.binary .hexgrid.activeByte0 .dgrid-focus .hexLine .byte0 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte0.activeLetter0 .dgrid-focus .hexLine .byte0 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte0.activeLetter1 .dgrid-focus .hexLine .byte0 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte1 .dgrid-focus .hexLine .byte1 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte1.activeLetter0 .dgrid-focus .hexLine .byte1 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte1.activeLetter1 .dgrid-focus .hexLine .byte1 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte2 .dgrid-focus .hexLine .byte2 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte2.activeLetter0 .dgrid-focus .hexLine .byte2 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte2.activeLetter1 .dgrid-focus .hexLine .byte2 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte3 .dgrid-focus .hexLine .byte3 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte3.activeLetter0 .dgrid-focus .hexLine .byte3 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte3.activeLetter1 .dgrid-focus .hexLine .byte3 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte4 .dgrid-focus .hexLine .byte4 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte4.activeLetter0 .dgrid-focus .hexLine .byte4 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte4.activeLetter1 .dgrid-focus .hexLine .byte4 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte5 .dgrid-focus .hexLine .byte5 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte5.activeLetter0 .dgrid-focus .hexLine .byte5 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte5.activeLetter1 .dgrid-focus .hexLine .byte5 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte6 .dgrid-focus .hexLine .byte6 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte6.activeLetter0 .dgrid-focus .hexLine .byte6 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte6.activeLetter1 .dgrid-focus .hexLine .byte6 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte7 .dgrid-focus .hexLine .byte7 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte7.activeLetter0 .dgrid-focus .hexLine .byte7 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte7.activeLetter1 .dgrid-focus .hexLine .byte7 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte8 .dgrid-focus .hexLine .byte8 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte8.activeLetter0 .dgrid-focus .hexLine .byte8 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte8.activeLetter1 .dgrid-focus .hexLine .byte8 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte9 .dgrid-focus .hexLine .byte9 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte9.activeLetter0 .dgrid-focus .hexLine .byte9 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte9.activeLetter1 .dgrid-focus .hexLine .byte9 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte10 .dgrid-focus .hexLine .byte10 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte10.activeLetter0 .dgrid-focus .hexLine .byte10 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte10.activeLetter1 .dgrid-focus .hexLine .byte10 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte11 .dgrid-focus .hexLine .byte11 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte11.activeLetter0 .dgrid-focus .hexLine .byte11 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte11.activeLetter1 .dgrid-focus .hexLine .byte11 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte12 .dgrid-focus .hexLine .byte12 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte12.activeLetter0 .dgrid-focus .hexLine .byte12 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte12.activeLetter1 .dgrid-focus .hexLine .byte12 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte13 .dgrid-focus .hexLine .byte13 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte13.activeLetter0 .dgrid-focus .hexLine .byte13 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte13.activeLetter1 .dgrid-focus .hexLine .byte13 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte14 .dgrid-focus .hexLine .byte14 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte14.activeLetter0 .dgrid-focus .hexLine .byte14 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte14.activeLetter1 .dgrid-focus .hexLine .byte14 .letter1 {
  background-color: red;
}
.content.binary .hexgrid.activeByte15 .dgrid-focus .hexLine .byte15 {
  background-color: gray;
}
.content.binary .hexgrid.activeByte15.activeLetter0 .dgrid-focus .hexLine .byte15 .letter0 {
  background-color: red;
}
.content.binary .hexgrid.activeByte15.activeLetter1 .dgrid-focus .hexLine .byte15 .letter1 {
  background-color: red;
}
.hexgrid .hexgrid.activeByte1 .dgrid-focus .hexLine .byte1 {
  background-color: gray;
}
.hexgrid .hexgrid.activeByte1.activeLetter0 .dgrid-focus .hexLine .byte1 .letter0 {
  background-color: red;
}
.hexgrid .hexgrid.activeByte1.activeLetter1 .dgrid-focus .hexLine .byte1 .letter1 {
  background-color: red;
}
.hexgrid .field-lineNr {
  width: 100px;
  font-family: monospace;
}
.hexgrid .hexLine {
  font-family: monospace;
  white-space: pre;
}
.hexgrid .dgrid-focus .hexLine {
  background-color: yellow;
}
.hexgrid .hexLine .byte {
  display: inline-block;
  width: 20px;
  height: 16px;
  margin-left: 6px;
}
.hexgrid .hexLine .byte8 {
  margin-left: 16px;
}
