/* Editor 
 * 
 * Styling Editor means styling the Editor inside iframe container (dijitEditorIFrameContainer)
 * 
 * 1. Editor iframe container (default styling): 
 * 		.dijitEditorIFrameContainer - normal state styles: background-color, border, padding
 *
 * 2. hovered Editor iframe container (ie, mouse hover on editor)
 * 		.dijitEditorHover .dijitEditorIFrameContainer/dijitEditorIFrame - styles when mouse hover on the container
 * 
 * 3. focused Editor iframe container (ie, mouse focus on the editor pane)
 * 		.dijitEditorFocused .dijitEditorIFrameContainer/dijitEditorIFrame - styles when container focused
 * 
 * 3. disabled Editor iframe container 
 * 		.dijitEditorDisabled - editor's inner iframe container disable status styles: background, border
 */
.dark .dijitEditorIFrameContainer {
  padding: 3px 3px 1px 10px;
}
.dark .dijitEditorIFrame {
  background-color: #000020;
}
.dark .dijitEditor {
  border: 1px solid #303050;
}
.dark .dijitEditor .dijitEditorIFrameContainer {
  background-color: #000020;
  background-repeat: repeat-x;
}
.dark .dijitEditorHover .dijitEditorIFrameContainer,
.dark .dijitEditorHover .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #3c3cad;
}
.dark .dijitEditorFocused .dijitEditorIFrameContainer,
.dark .dijitEditorFocused .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #000020;
}
.dark .dijitEditorHover .dijitEditorIFrameContainer,
.dark .dijitEditorFocused .dijitEditorIFrameContainer {
  background-image: -moz-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -webkit-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -o-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
}
/* Disabled */
.dark .dijitEditorDisabled {
  border: 1px solid #606060;
  color: #adadef;
}
.dark .dijitDisabled .dijitEditorIFrame,
.dark .dijitDisabled .dijitEditorIFrameContainer,
.dark .dijitDisabled .dijitEditorIFrameContainer .dijitEditorIFrame {
  background-color: #2020a0;
  background-image: none;
}
