/* TimePicker */
.dj_ie .dark .dijitTimePickerRtl .dijitTimePickerTickHover,
.dj_ie .dark .dijitTimePickerRtl .dijitTimePickerMarkerHover,
.dj_ie .dark .dijitTimePickerRtl .dijitTimePickerMarkerSelected,
.dj_ie .dark .dijitTimePickerRtl .dijitTimePickerTickSelected {
  margin-left: -6px;
  margin-right: -8px;
  width: 114%;
}
