/*.dark/form/Common.css */
/*========================= common css =========================*/
/* 'dijitTextBox' refers to 'dijit(TextBox|DateTextBox|CurrencyTextBox|...)' */
.dark .dijitTextBox,
.dark .dijitInputInner {
  color: #f0f0f0;
}
.dark .dijitValidationTextBoxError .dijitValidationContainer {
  background-color: #d81010;
  background-image: url("../form/images/error.png");
  background-position: top center;
  border: solid #d81010 0;
  width: 9px;
}
.dark .dijitTextBoxError .dijitValidationContainer {
  border-left-width: 1px;
}
.dark .dijitValidationTextBoxError .dijitValidationIcon {
  width: 0;
  background-color: transparent;
  /* so the INPUT doesn't obscure the border in rtl+a11y */

}
/* Padding for the input area of TextBox based widgets, and corresponding padding for the
 * down arrow button and the placeholder.   placeholder is explicitly listed  because
 * dijitPlaceHolder is absolutely positioned, so padding set on dijitInputField
 * won't affect it
 */
.dark .dijitTextArea,
.dark .dijitInputField .dijitPlaceHolder {
  padding: 2px;
}
.dark .dijitSelect .dijitInputField,
.dark .dijitTextBox .dijitInputField {
  padding: 1px 2px;
}
.dj_gecko .dark .dijitTextBox .dijitInputInner,
.dj_webkit .dark .dijitTextBox .dijitInputInner {
  padding: 1px;
}
.dark .dijitSelect,
.dark .dijitSelect .dijitButtonContents,
.dark .dijitTextBox,
.dark .dijitTextBox .dijitButtonNode {
  /* color for (outer) border on *TextBox widgets, and border between input and buttons on ComboBox and Spinner */

  border-color: #303050;
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.dark .dijitSelect,
.dark .dijitTextBox {
  background-color: #000020;
}
/* hover */
.dark .dijitSelectHover,
.dark .dijitSelectHover .dijitButtonContents,
.dark .dijitTextBoxHover,
.dark .dijitTextBoxHover .dijitButtonNode {
  border-color: #000050;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.dark .dijitTextBoxHover {
  background-color: #3c3cad;
  background-image: -moz-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -webkit-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -o-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
}
/* error state */
.dark .dijitSelectError,
.dark .dijitSelectError .dijitButtonContents,
.dark .dijitTextBoxError,
.dark .dijitTextBoxError .dijitButtonNode {
  border-color: #d81010;
}
/* focused state */
.dark .dijitSelectFocused,
.dark .dijitSelectFocused .dijitButtonContents,
.dark .dijitTextBoxFocused,
.dark .dijitTextBoxFocused .dijitButtonNode {
  border-color: #000050;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.dark .dijitTextBoxFocused {
  background-color: #000020;
  background-image: -moz-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -webkit-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: -o-linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
  background-image: linear-gradient(rgba(127, 127, 127, 0.2) 0%, rgba(127, 127, 127, 0) 2px);
}
.dark .dijitTextBoxFocused .dijitInputContainer {
  background: #000020;
}
.dark .dijitSelectErrorFocused,
.dark .dijitSelectErrorFocused .dijitButtonContents,
.dark .dijitTextBoxErrorFocused,
.dark .dijitTextBoxErrorFocused .dijitButtonNode {
  border-color: #c00e0e;
}
/* disabled state */
.dark .dijitSelectDisabled,
.dark .dijitSelectDisabled .dijitButtonContents,
.dark .dijitTextBoxDisabled,
.dark .dijitTextBoxDisabled .dijitButtonNode {
  border-color: #606060;
}
.dark .dijitSelectDisabled,
.dark .dijitTextBoxDisabled,
.dark .dijitTextBoxDisabled .dijitInputContainer {
  background-color: #2020a0;
  background-image: none;
}
.dark .dijitSelectDisabled,
.dark .dijitTextBoxDisabled,
.dark .dijitTextBoxDisabled .dijitInputInner {
  color: #adadef;
}
.dj_webkit .dark .dijitDisabled input {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */

  color: #9797ea;
}
.dj_webkit .dark textarea.dijitTextAreaDisabled {
  /* because WebKit lightens disabled input/textarea no matter what color you specify */

  color: #2323ad;
}
/*========================= for special widgets =========================*/
/* Input boxes with an arrow (for a drop down) */
.dark .dijitSelect .dijitArrowButtonInner,
.dark .dijitComboBox .dijitArrowButtonInner {
  background-image: url("../form/images/commonFormArrows.png");
  background-position: -35px 53%;
  background-repeat: no-repeat;
  margin: 0;
  width: 16px;
}
.dark .dijitComboBox .dijitArrowButtonInner {
  border: 1px solid #000020;
}
.dark .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
.dark .dijitToolbar .dijitComboBox .dijitArrowButtonInner {
  border: none;
}
/* Add 1px vertical padding to the <input> where user types and the validation icon,
   to match the 1px border on arrow button */
.dark .dijitSelectLabel,
.dark .dijitTextBox .dijitInputInner,
.dark .dijitValidationTextBox .dijitValidationContainer {
  padding: 1px 0;
}
.dark .dijitComboBox .dijitButtonNode {
  background-color: #2020a0;
  background-image: url("../images/standardGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  _background-image: none;
}
/* Arrow "hover" effect:
 * The arrow button should change color whenever the mouse is in a position such that clicking it
 * will toggle the drop down.   That's either (1) anywhere over the ComboBox or (2) over the arrow
 * button, depending on the openOnClick setting for the widget.
 */
.dark .dijitComboBoxOpenOnClickHover .dijitButtonNode,
.dark .dijitComboBox .dijitDownArrowButtonHover,
.dark .dijitComboBoxFocused .dijitArrowButton {
  background-color: #3333bc;
}
.dark .dijitComboBoxOpenOnClickHover .dijitArrowButtonInner,
.dark .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {
  background-position: -70px 53%;
}
/* Arrow Button change when drop down is open */
.dark .dijitComboBox .dijitHasDropDownOpen {
  background-color: #5959c8;
  background-image: url("../images/activeGradient.png");
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: -o-linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(rgba(190, 190, 190, 0.98) 0px, rgba(255, 255, 255, 0.65) 3px, rgba(255, 255, 255, 0) 100%);
  _background-image: none;
  padding: 1px;
}
.dj_iequirks .dark .dijitComboBox .dijitHasDropDownOpen {
  padding: 1px 0;
}
.dark .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  background-position: -70px 53%;
  border: 0 none;
}
/* disabled state */
.dark div.dijitComboBoxDisabled .dijitArrowButtonInner {
  /* specific selector set to override background-position setting from Button.js
	 * (.dark .dijitComboBoxDisabled .dijitArrowButtonInner) */

  background-position: 0 50%;
  background-color: #2020a0;
}
/*========================= hacks for browsers =========================*/
/* it seems the input[type="hidden"] has a height (16px) too... this may cause the widget's height calculate error */
.dj_ff3 .dark .dijitInputField input[type="hidden"] {
  display: none;
  height: 0;
  width: 0;
}
.dj_borderbox .dark .dijitComboBox .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 18px;
}
.dj_borderbox .dark .dijitComboBoxFocused .dijitHasDropDownOpen .dijitArrowButtonInner {
  width: 16px;
}
