@import "../../dijit/themes/claro/variables";

.claro {
  .contentTabs {
    .dijitTabController {
      background-color: #E0E8E8;
    }
  }
}

.contentTabs {
  .dijitTabContainerRight-tabs, .dijitTabContainerLeft-tabs {
    .dijitClosable.dijitTab{
      padding-right: 10px;
      min-width: 50px;
    }
    
    .dijitTabCloseButton {
      //float: right;
      position: absolute;
      right: 3px;
      top: 2px;      
    }
  }
  
  .dijitTabController {
    
    .dijitTab {
      //.linear-gradient(left, rgba(127, 127, 127,1) 0%, rgba(127, 127, 127,1) 40%, rgba(127, 127, 127,0) 100%);
      
      .fadeNode{
        display: none;
      }
    }
    
    .dijitTab.terminalTabButton {
      background-color: black;
      color: yellow !important;
      background-image: none;
      &.dijitTabChecked{
        background-color: RGBA(64, 64, 128, 1);
        color: white !important;
      }
    }
    
    
    .dijitTab.fading {
      
      .fadeNode{
        display: block;
        position: absolute;
        z-index: -10;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        opacity: 0;
        .linear-gradient(left, rgba(127, 127, 127, 0.1) 0%, rgba(127, 127, 127, 0.1) 30%, rgba(127, 127, 127, 0.5) 60%, rgba(192, 192, 192, 0.3) 100%);
      }
      &:hover{
        .fadeNode{
          left: auto;
          width: 0px;
        }
      }
      &.dirty{
        .fadeNode{
          .linear-gradient(left, rgba(255, 255, 255, 0.1) 0%, rgba(192, 128, 128, 0.1) 30%, rgba(192, 0, 0, 0.3) 60%, rgba(255, 0, 0, 0.2) 100%);
        }
      }
    }
    
    &.dijitScrollingTabController{
      .dijitTab.fading {
        
        .fadeNode{
          .linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
          background-color: rgba(127, 127, 127, 0.4);
        }
        &:hover{
          .fadeNode{
            left: auto;
            width: 0px;
          }
        }
        &.dirty{
          .fadeNode{
            background-color: rgba(192, 96, 96, 0.5);
          }
        }
      }
    }
  }
  
}