.terminalTab .message {
  height: 20px;
  background-color: yellow;
}

/*@font-face { font-family: Unicorns1; src: url('/fonts/unicorns/eenhoorn-light.ttf'); } 
@font-face { font-family: Unicorns1; src: url('/fonts/unicorns/magical_unicorn.ttf'); } 
@font-face { font-family: Unicorns1; src: url('/fonts/unicorns/magical_unicorn_sans.ttf'); } 
  */  

.terminalTab .seeunicorns {
  background-image: url("../image/luna1.png");
}

.terminalTab .seeunicorns .terminal {
  background: rgb(0, 0, 0); /* Fall-back for browsers that don't
                                    support rgba */
  background: rgba(0, 0, 0, 0.5) !important;
  background-color: none;
}

/*.terminalTab.experimental .terminal {
  font-family: Unicorns1, "DejaVu Sans Mono", "Liberation Mono", monospace;\n';
  font-size: 60px !important;
}*/
