/* BorderContainer 

Splitters and gutters separate panes within a BorderContainer. Splitters can be moved up and down (horizonal splitters) or left and right (vertical splitters), while Gutters are static. A "thumb" is the slit on a Splitter that indicates it is movable. 

Styling the BorderContainer widget consists of the following: 

.dijitBorderContainer - for border and padding of the entire border container

.dijitSplitContainer-child, .dijitBorderContainer-child - for border or child panes of the border container. By default borders are put on all children of BorderContainer.  

.dijitBorderContainer-dijitTabContainerTop,
.dijitBorderContainer-dijitTabContainerBottom,
.dijitBorderContainer-dijitTabContainerLeft,
.dijitBorderContainer-dijitTabContainerRight,
.dijitBorderContainer-dijitAccordionContainer   -for border of the border containers within TabContainer or AccordionContainer widget

.dijitBorderContainer-dijitBorderContainer - for border and padding of nested BorderContainers

Splitters and gutters:  

.dijitSplitterH, .dijitGutterH - for height, background, and border of a horizontal splitter and gutter 
.dijitSplitterH .dijitSplitterThumb - for color, height/width of the thumb on a horizontal splitter
.dijitSplitterV, .dijitGutterV - - for height, background, and border of a vertical splitter and gutter 
.dijitSplitterV .dijitSplitterThumb - for color, height/width of the thumb on a vertical splitter
.dijitSplitterHHover - for background-color of a hovered horizontal splitter
.dijitSplitterHHover .dijitSplitterThumb - for background-color of a hovered thumb on a horizontal splitter
.dijitSplitterVHover  - for background-color of a hovered vertical splitter
.dijitSplitterVHover .dijitSplitterThumb - for background-color of a hovered thumb on a vertical splitter
.dijitSplitterHActive - for background-color of an active horizontal splitter
.dijitSplitterVActive - for background-color of an active horizontal splitter
*/
.dark .dijitBorderContainer {
  /* matches the width of the splitters between panes */

  padding: 5px;
}
.dark .dijitSplitContainer-child,
.dark .dijitBorderContainer-child {
  /* By default put borders on all children of BorderContainer,
	 *  to give illusion of borders on the splitters themselves.
	 */

  border: 1px #303050 solid;
}
.dark .dijitBorderContainer-dijitTabContainerTop,
.dark .dijitBorderContainer-dijitTabContainerBottom,
.dark .dijitBorderContainer-dijitTabContainerLeft,
.dark .dijitBorderContainer-dijitTabContainerRight,
.dark .dijitBorderContainer-dijitAccordionContainer {
  /* except that TabContainer defines borders on it's sub-nodes (tablist and dijitTabPaneWrapper),
	 * so override rule setting border on domNode
	 */

  border: none;
}
.dark .dijitBorderContainer-dijitBorderContainer {
  /* make nested BorderContainers look like a single big widget with lots of splitters */

  border: 0;
  padding: 0;
}
/* Splitters and gutters */
.dark .dijitSplitterH,
.dark .dijitGutterH {
  background: none;
  border: 0;
  height: 5px;
}
.dj_ios .dark .dijitSplitterH,
.dj_android .dark .dijitSplitterH {
  height: 11px;
}
.dark .dijitSplitterH .dijitSplitterThumb {
  background: #303050 none;
  height: 1px;
  top: 2px;
  width: 19px;
}
.dj_ios .dark .dijitSplitterH .dijitSplitterThumb,
.dj_android .dark .dijitSplitterH .dijitSplitterThumb {
  top: 5px;
}
.dark .dijitSplitterV,
.dark .dijitGutterV {
  background: none;
  border: 0;
  width: 5px;
  margin: 0;
}
.dj_ios .dark .dijitSplitterV,
.dj_android .dark .dijitSplitterV {
  width: 11px;
}
.dark .dijitSplitterV .dijitSplitterThumb {
  background: #303050 none;
  height: 19px;
  left: 2px;
  width: 1px;
  margin: 0;
}
.dj_ios .dark .dijitSplitterV .dijitSplitterThumb,
.dj_android .dark .dijitSplitterV .dijitSplitterThumb {
  left: 5px;
}
/* hovered splitter */
.dark .dijitSplitterHHover,
.dark .dijitSplitterVHover {
  font-size: 1px;
  background-color: #404090;
}
.dark .dijitSplitterHHover {
  background-image: -moz-linear-gradient(left, #000000 0px, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: -webkit-linear-gradient(left, #000000 0px, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: -o-linear-gradient(left, #000000 0px, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: linear-gradient(left, #000000 0px, rgba(0, 0, 0, 0) 50%, #000000 100%);
}
.dark .dijitSplitterVHover {
  background-image: -moz-linear-gradient(top, #000000 0px, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: -webkit-linear-gradient(top, #000000 0px, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: -o-linear-gradient(top, #000000 0px, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: linear-gradient(top, #000000 0px, rgba(0, 0, 0, 0) 50%, #000000 100%);
}
.dark .dijitSplitterHHover .dijitSplitterThumb,
.dark .dijitSplitterVHover .dijitSplitterThumb {
  background: #000050 none;
}
/* active splitter */
.dark .dijitSplitterHActive,
.dark .dijitSplitterVActive {
  font-size: 1px;
  background-color: #3333bc;
  background-image: none;
}
